// Font Family
$montserrat: 'Montserrat',
sans-serif;

// Colors ---------------
$white: #ffffff;
$black: #000;
$orange:#FF723A;
$yellow:#FFD36F;
$grey:#eff6fa;
$purple: #8E66FF;
$theme-color: #F1476E;
$body-text-color: rgba(45, 45, 45, 0.85);
$hr-border-color:rgba(27, 33, 47, 0.1);





// Heading Color
$heding: #2F2651;






// Responsive Variables
$xxl: 'only screen and (min-width: 1601px) and (max-width: 1900px)';
$xl: 'only screen and (min-width: 1601px) and (max-width: 1800px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

  